.stApp{
    background:#f7f9fc;
}

h1{
    color:#0d47a1;
    text-align:center;
}

section[data-testid="stSidebar"]{
    background:#0e1117;
}

div[data-testid="stChatMessage"]{
    border-radius:15px;
    padding:12px;
    margin-bottom:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.stButton button{
    width:100%;
    border-radius:10px;
}

.stDownloadButton button{
    width:100%;
    border-radius:10px;
}